################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/Formulator/bin
/Formulator/obj
/FormulaTest/bin
/FormulaTest/obj
